{{!< default}}

    <header id="header" data-url="http://cat.yufan.me/cats/wallpaper/mountain.jpg" class="home-header blog-background banner-mask lazy {{#if @blog.cover}}" style="background-image: url({{@blog.cover}}){{else}}no-cover{{/if}}">
        <div class="nav-header-container">
             <a href="{{@blog.url}}" class="svg-logo">
<span class="svg-logo" >
<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<svg width="64px" height="49px" viewBox="0 0 64 49" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
    <!-- Generator: Sketch 3.4.4 (17249) - http://www.bohemiancoding.com/sketch -->
    <title>帆</title>
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
        <g id="64x64" sketch:type="MSArtboardGroup" transform="translate(0.000000, -7.000000)" fill="#3D424D">
            <path d="M15.5283203,7.1796875 L16.2646484,7.1796875 C17.3030651,7.59505416 17.8222656,8.5012951 17.8222656,9.8984375 C16.783849,13.4479344 16.2646484,16.931298 16.2646484,20.3486328 L16.6611328,20.3486328 L27.5078125,16.46875 C28.0175807,16.7141939 28.4046211,16.8369141 28.6689453,16.8369141 L28.6689453,18.3945312 C28.6689453,20.8489706 25.5726221,27.5608175 19.3798828,38.5302734 L17.4541016,38.5302734 C16.9254531,38.5302734 16.6611328,38.2753932 16.6611328,37.765625 L16.6611328,37.3408203 C16.6611328,36.7366506 18.2092944,33.5176073 21.3056641,27.6835938 L24.0244141,21.4814453 L23.6279297,21.4814453 C21.5510964,21.4814453 19.0966938,22.6520065 16.2646484,24.9931641 L16.2646484,29.609375 C16.2646484,30.1946644 16.1419283,30.7138649 15.8964844,31.1669922 C15.8964844,31.4313164 16.0192045,31.5634766 16.2646484,31.5634766 L15.8964844,35.4433594 L15.8964844,42.3818359 C15.8964844,51.1611767 14.9902434,55.5507812 13.1777344,55.5507812 L12.0166016,55.5507812 C11.5068334,55.5507812 11.2519531,55.286461 11.2519531,54.7578125 C11.7617213,49.0748414 12.0166016,43.6657158 12.0166016,38.5302734 L12.0166016,25.7578125 C8.67478798,27.5703216 7.00390625,28.5992826 7.00390625,28.8447266 C7.51367442,30.7893977 7.76855469,32.5924396 7.76855469,34.2539062 L7.76855469,35.4433594 C9.07129558,35.4433594 9.72265625,36.07584 9.72265625,37.3408203 C8.79752142,41.2112824 7.37207994,43.1464844 5.44628906,43.1464844 L4.68164062,41.9853516 L4.68164062,38.5302734 C4.68164062,34.3010856 3.38835929,27.853559 0.801757812,19.1875 C1.31152599,18.130203 1.56640625,17.3466822 1.56640625,16.8369141 L3.52050781,16.8369141 C4.08691689,16.8369141 4.99315783,19.0458763 6.23925781,23.4638672 L6.60742188,23.4638672 C10.7422082,22.8596975 12.8095703,22.0761767 12.8095703,21.1132812 C13.1494158,11.8241723 14.0556567,7.1796875 15.5283203,7.1796875 L15.5283203,7.1796875 Z M46.8222656,15.7041016 C48.1816474,15.7041016 49.3427686,16.4781824 50.3056641,18.0263672 L50.3056641,18.7910156 L44.8964844,45.8652344 L44.8964844,47.0263672 C44.8964844,47.7438187 46.5673661,48.2630192 49.9091797,48.5839844 C55.856475,47.4322859 58.8300781,46.526045 58.8300781,45.8652344 L57.6689453,40.4560547 L59.5664062,40.0595703 L59.9628906,40.0595703 C59.9628906,40.6259794 61.1334518,42.6933415 63.4746094,46.2617188 C61.0768109,50.1133005 55.7904055,52.0390625 47.6152344,52.0390625 L46.8222656,52.0390625 C42.9706839,51.7747383 41.0449219,51.0100975 41.0449219,49.7451172 C41.2903658,46.7809097 42.0644466,41.3623441 43.3671875,33.4892578 C37.1555679,32.4697215 33.6627643,31.9599609 32.8886719,31.9599609 C32.3789037,34.0179139 31.6048229,36.4534365 30.5664062,39.2666016 L30.9628906,41.2490234 C29.3958255,45.6103734 28.1119842,47.7910156 27.1113281,47.7910156 C26.7526024,47.7910156 26.1106817,47.149095 25.1855469,45.8652344 C27.998712,36.3873224 30.5663946,27.1077928 32.8886719,18.0263672 C36.4192885,16.4781824 41.0637733,15.7041016 46.8222656,15.7041016 L46.8222656,15.7041016 Z M34.0498047,27.6835938 C38.5055561,29.4961028 41.9983597,30.4023438 44.5283203,30.4023438 C46.0576248,23.7375969 46.8222656,19.999353 46.8222656,19.1875 L46.4257812,19.1875 C38.9680617,19.1875 35.2392578,20.7356616 35.2392578,23.8320312 C34.4462851,26.2675903 34.0498047,27.5514316 34.0498047,27.6835938 L34.0498047,27.6835938 Z" id="帆" sketch:type="MSShapeGroup"></path>
        </g>
    </g>
</svg>
</span>
</a>
        </div>
        <div class="header-wrap">
        <div class="home-info-container">
            <a href="{{@blog.url}}"><h2>且听书吟</h2></a>
            <h4>我思 我说 我写</h4>
        </div>
        <div class="arrow_down" data-offset="-45">
               <a href="javascript:;"></a>
        </div>
    </header>
{{! The main content area on the homepage }}
<main id="main" class="content homepage" role="main">
{{! Each post will be output using this markup }}
{{> "loop"}}
{{!! After all the posts, we have the previous/next pagination links }}

{{!-- {{pagination}} --}}
</main>


