{{!< default}}

<header id="header" data-url="https://cat.yufan.me/cats/2017-01-21-57187532_p0.png" class="home-header blog-background banner-mask lazy {{#if @blog.cover}}" style="background-image: url({{@blog.cover}}){{else}}no-cover{{/if}}">
    <div class="header-wrap">
    <div class="home-info-container">
        <a href="{{@blog.url}}"><h2>{{@blog.title}}</h2></a>
        <h4>{{@blog.description}}</h4>
    </div>
    <div class="arrow_down" data-offset="-45">
           <a href="javascript:;"></a>
    </div>
</header>

<main id="main" class="content homepage" role="main">
    {{> "loop"}}
</main>
